:root {
    --primary-color: #09212a;
    --secondary-color: #06171e;
    --border-color: #124658;
    --text-color: #ffffff;
    --hover-color: #6bc1e1;
    --font-family: "Figtree", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-color);
    max-width: 1440px;
    margin: 0 auto;
    overflow-x: hidden;
}

.site_header {
    background-color: var(--primary-color);
    width: 100vw;
    height: 81px;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    display: flex;
    justify-self: start;
    align-items: center;
}

.site_header_nav {
    max-width: 1440px;
    margin-left: 15vw;
    width: 215.19px;
    height: 41px;
    cursor: pointer;
}

.site_header_nav img {
    width: 215.19px;
    height: 41px;
}

main {
    width: 1440px;
    height: 1024px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.fotogram {
    max-width: 1170px;
    display: flex;
    margin-top: 240px;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

h1 {
    font-family: var(--font-family);
    color: var(--text-color);
    font-weight: 800;
    font-style: normal;
    font-size: 56px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
}

.images {
    display: grid;
    grid-template-columns: repeat(7, 150px);
    gap: 16px;
    row-gap: 40px;
    justify-content: center;
}

.images img {
    width: 150px;
    height: 150px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 2px solid var(--border-color);
    border-radius: 16px;
    display: block;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.images img:nth-child(8) {
    grid-column: 2;
}

.images img:nth-child(9) {
    grid-column: 3;
}

.images img:nth-child(10) {
    grid-column: 4;
}

.images img:nth-child(11) {
    grid-column: 5;
}

.images img:nth-child(12) {
    grid-column: 6;
}

.images img:hover {
    border-color: var(--hover-color);
    border-width: 3px;
}

.site_footer {
    background-color: var(--primary-color);
    width: 100vw;
    height: 81px;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_hidden_site {
    background-color: var(--secondary-color);
    width: 100vw;
    height: 81px;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

.site_footer_content {
    width: 225px;
    height: 65px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.site_footer_content_img1 {
    width: 133.280517578125px;
    height: 32px;
}

.site_footer_content_img2 {
    width: 225px;
    height: 17px;
}

.dialog {
    background-color: var(--primary-color);
    width: 688px;
    height: 674.71px;
    margin: 0 auto;
    margin-top: 81px;
    border: none;
    border-radius: 40px;
    overflow: hidden;
}

.dialog_main {
    background-color: var(--primary-color);
    width: 688px;
    height: 674.71px;
    padding-right: 64px;
    padding-left: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 48px;

}

.dialog_header {
    width: 560px;
    height: 32px;
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog_header h2 {
    font-family: "Figtree", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--text-color);
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle;
}

.dialog_header_button {
    width: 32px;
    height: 32px;
    background-image: url("Fotos/closeIcon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.dialog_header_button:hover {
    width: 32px;
    height: 32px;
    background-image: url("Fotos/closeHoverIcon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.dialog_section img {
    width: 560px;
    height: 374px;
    object-fit: fill;
}

.dialog_footer {
    width: 261px;
    height: 60px;
    margin-bottom: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog_footer_revers_arrow {
    width: 60px;
    height: 60px;
    background-image: url("Fotos/forwardsIcon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transform: rotate(180deg);
}

.dialog_footer p {
    font-family: "Figtree", sans-serif;
    font-weight: 500;
    color: var(--text-color);
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0;
    text-align: center;
}

.dialog_footer_forward_arrow {
    width: 60px;
    height: 60px;
    background-image: url("Fotos/forwardsIcon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    cursor: pointer;
}