@media (max-width: 1440px) {
    main {
        width: 100vw;
    }

    .fotogram {
        padding-left: 123px;
        padding-right: 123px;
    }

    .images {
        grid-template-columns: repeat(6, 1fr);
        justify-items: center;
    }

    .images img:nth-child(8),
    .images img:nth-child(9),
    .images img:nth-child(10),
    .images img:nth-child(11),
    .images img:nth-child(12) {
        grid-column: auto;
    }
}

@media (max-width: 1200px) {
    main {
        width: 100vw;
    }

    .images {
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
    }

    .images img:nth-child(8),
    .images img:nth-child(9),
    .images img:nth-child(10),
    .images img:nth-child(11),
    .images img:nth-child(12) {
        grid-column: auto;
    }
}

@media (max-width: 950px) {
    .fotogram {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (max-width: 1200px) {
    main {
        width: 100vw;
    }

    .images {
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
    }

    .images img:nth-child(8),
    .images img:nth-child(9),
    .images img:nth-child(10),
    .images img:nth-child(11),
    .images img:nth-child(12) {
        grid-column: auto;
    }


}

@media (max-width: 775px) {
    .fotogram {
        padding-left: 30px;
        padding-right: 30px;
    }

    h1 {
        font-size: 48px;
    }

    .site_header {
        height: 72px;
    }

    .site_header_nav {
        margin: 0 auto;
    }

    .site_header_nav img {
        width: 168px;
        height: 32px;
    }

    .site_footer {
        height: 103px;
        margin-top: 5px;
    }

    .site_footer_content_img1 {
        width: 100px;
        height: 24px;
    }

    .site_footer_content_img2 {
        width: 225px;
        height: 15px;
    }

    .dialog {
        width: 343px;
        height: 664px;
        margin-top: 72px;
    }

    .dialog_main {
        width: 343px;
        height: 664px;
        margin-top: 15px;
        gap: 30px;
        justify-content: revert-layer;
    }

    .dialog_header {
        width: 281px;
        height: 69px;
        flex-direction: column-reverse;
        gap: 8px;
        margin-top: 0;
    }

    .dialog_header_button {
        align-self: end;
    }

    .dialog_section img {
        width: 300px;
        height: 375px;
    }
}

@media (max-width: 710px) {
    .fotogram {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 40px;
        margin-bottom: 40px;
        gap: 56px;
    }

    h1 {
        font-size: 48px;
    }

    .dialog_header {
        margin-top: 20px;
    }

    .images {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .images img:nth-child(8),
    .images img:nth-child(9),
    .images img:nth-child(10),
    .images img:nth-child(11),
    .images img:nth-child(12) {
        grid-column: auto;
    }

    main {
        width: 100vw;
        height: auto;
    }

}

@media (max-width: 380px) {
    .dialog_main {
        padding-right: 20px;
        padding-left: 0;
    }
}

@media (max-width: 350px) {
    .dialog_main {
        padding-right: 35px;
        padding-left: 0;
        justify-content: space-between;
    }

    .dialog_header {
        padding-right: 13px;
        padding-left: 0;
        margin-top: 20px;
    }
}

@media (max-width: 340px) {
    .dialog_main {
        padding-right: 45px;
        padding-left: 0;
    }

    .dialog_header {
        padding-right: 13px;
        padding-left: 0;
    }

    .dialog_footer {
        padding-right: 13px;
        padding-left: 0;
    }
}